*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
:root{
    --primary-color:#f9004d;
    --light-color:#fff;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: url(./drew-hays-Kt8eGw8_S8Y-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 4.9rem;
    padding-left:8%;
    padding-right:8%;
}
.logo{
    font-size: 3.5rem;
    color: var(--light-color);
    letter-spacing: 1px;
    cursor: pointer;
}
.lio{
    color:var(--primary-color);
}
nav > ul> li {
    list-style: none;
    display: inline-block;
    text-decoration: none;
    padding:1.5rem  2.5rem ;
}
nav > ul> li >a {
    color: var(--light-color);
    text-decoration: none;
    text-transform: capitalize;
    font-weight:600;
}
nav > ul> li >a:hover{
    color: var(--primary-color);
    transition: .6s;
}
.btn{
    color: var(--light-color);
    background-color: var(--primary-color);
    text-decoration: none;
    padding: 1rem 1.5rem;
    border-radius: 3rem;
    border: 2px solid transparent;
    transition: transform .5s;
}
.btn:hover{
    transform: scale(1.1);
}
.small{
    font-size: 2rem;
    color: var(--light-color);
    margin-bottom: 1rem;
}
.big{
    font-size: 6rem;
    color: var(--light-color);
    margin: 1.4rem 0 2rem;
}
.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
.newsletter form{
    width: 38rem;
    max-width: 100%;
    position: relative;
}
.newsletter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 1.2rem 2rem;
    border-radius: 3rem;
    border: 1px solid var(--primary-color);
    outline: none;
}
.newsletter form input:last-child{
    display: inline-block;
    position: absolute;
    padding: .8rem 2.5rem;
    right: 6px;
    border-radius: 3rem;
    top: 5px;
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: var(--light-color);
}
.about{
    background-color: #191919;
    width: 100%;
    padding: 10rem  0rem;
}
.about-text{
    width: 55rem;
}
.about img{
    width: 43rem;
    height: auto;
}
.about-text h2{
    font-size: 7.5rem;
    color: var(--light-color);
    text-transform: uppercase;
    margin-bottom: 2rem;
}
.about-text h5{
    font-size: 2.2rem;
    color: var(--light-color);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 2.5rem;
}
.main{
   width: 113rem;
   max-width: 95%;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: space-around;
}
